
.g-page {
  background-color: #F7F7F7;
  min-height: 100vh;
}


.g-ft-12 {
  font-size: 12px * 2;
}

.g-ft-14 {
  font-size: 14px * 2;
}

.g-ft-16 {
  font-size: 16px * 2;
}

.g-ft-18 {
  font-size: 18px * 2;
}

.g-block {
  display: block;
}

.g-inline-block {
  display: inline-block;
}

.g-hide {
  display: none;
}

.g-image-view {
  position: relative;
  background-size: contain;
  background-repeat: no-repeat;
  border: 0;
}

.g-clr-blue {
  color: #66A4F9;
}

.g-clr-green {
  color: #2CD6B1;
}

.g-clr-secondary-text {
  color: #ABB4C3;
}

.g-text-right {
  text-align: right;
}

.g-text-center {
  text-align: center;
}

.g-text-left {
  text-align: left;
}

.g-asterisk {
  color: #E75E49;
  display: inline-block;
  vertical-align: top;
}
